<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Contacts Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-primary" (click)="addNewContact()" type="button">Add Contact</button> -->
      </form>
    </div>
  </div>
</nav>





<div class="d-flex flex-column mt-4">
  @if (mode ===  ModeEnum.NON) {
  <div class="card align-self-center w-75">
    <h4 class="card-header text-center">Contacts List</h4>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (contact of contacts; track contact) {
            <tr>
              <th scope="row">{{ contact.id }}</th>
              <td>{{ contact.firstName }}</td>
              <td>{{ contact.lastName }}</td>
              <td>{{ contact.email }}</td>
              <td>
                <button type="button" class="btn btn-sm btn-primary me-1" (click)="editContact(contact)">
                  Edit
                </button>
                <button type="button" class="btn btn-sm btn-danger" (click)="removeContacts(contact)">
                  Delete
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="card-footer text-end">
      <button type="button" class="btn btn-primary" (click)="addNewContact()">
        Add New Contact
      </button>
    </div>
  </div>
}

  @if (mode !==  ModeEnum.NON) {
    <div class="card align-self-center w-50 mt-4">
      <h4 class="card-header text-center">Add/Edit Contact</h4>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="mb-3 row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" id="firstName" placeholder="First Name" formControlName="firstName" class="form-control"
                [class.is-invalid]="form.controls.firstName.invalid && form.controls.firstName.touched" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName" class="form-control"
                  [class.is-invalid]="form.controls.lastName.invalid && form.controls.lastName.touched" />
                </div>
              </div>

              <div class="mb-3 row">
                <label for="lastName" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" id="email" placeholder="Email" formControlName="email" class="form-control"
                    [class.is-invalid]="form.controls.email.invalid && form.controls.email.touched" />
                  </div>
                </div>
            </form>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-success me-1" (click)="saveContact()">
              Submit
            </button>
            <button type="button" class="btn btn-sm btn-default" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
      }
    </div>