<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Contacts Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-primary" (click)="addNewContact()" type="button">Add Contact</button> -->
      </form>
    </div>
  </div>
</nav>


<div class="d-flex flex-column mt-4">  
  <div class="card align-self-center w-75">
    <h4 class="card-header text-left">Contacts</h4>
    <div class="card-body">
      <div class="text-end">
        <input type="search" class="d-inline-block form-control form-control-sm mb-3 me-2 w-25" placeholder="Search Contacts" [(ngModel)]="searchTerm" (input)="filterContacts()" />
        <button type="button" class="btn btn-primary btn-sm" (click)="addNewContact()" data-bs-toggle="modal" data-bs-target="#AddEditModal">
          Add New Contact
        </button>
      </div>      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of paginatedContacts">
              <th scope="row">{{ contact.id }}</th>
              <td>{{ contact.firstName }}</td>
              <td>{{ contact.lastName }}</td>
              <td>{{ contact.email }}</td>
              <td>
                <button type="button" class="btn btn-sm btn-primary me-1" (click)="editContact(contact)" data-bs-toggle="modal" data-bs-target="#AddEditModal">
                  Edit
                </button>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" (click)="openDeleteConfirmationDialog(contact)">
                  Delete
                </button>
              </td>
            </tr>          
        </tbody>
      </table>
    </div>
    <div class="card-footer text-end">      
      <div class="d-inline-block">
        <span *ngIf="contacts.length > 0" class="mt-2">
          <span class="me-2">{{ getPaginationDetails() }}</span>
        </span>
        <span>
          <button [disabled]="currentPage === 1" (click)="previousPage()" class="btn btn-sm btn-secondary me-1">Previous</button>
          <span>Page {{currentPage}} of {{totalPages}}</span>
          <button [disabled]="currentPage === totalPages" (click)="nextPage()" class="btn btn-sm btn-secondary ms-1">Next</button>
        </span>
      </div>      
    </div>
  </div>

  <!-- Add/Edit Modal -->
<div class="modal fade" id="AddEditModal" #AddEditModal tabindex="-1" aria-labelledby="AddEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="AddEditModalLabel">Add/Edit Contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-contact *ngIf="mode === ModeEnum.ADD || mode === ModeEnum.EDIT" [mode]="mode" [contact]="currentContact" (save)="saveContact($event)" (cancel)="cancel()"> </app-add-edit-contact>
      </div>      
    </div>
  </div>
</div>

</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteConfirmationModalLabel">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this contact?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeContact()">Delete</button>
      </div>
    </div>
  </div>
</div>